<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Mosaic | CSS Grid System with vertical centering and fixed columns{% endblock %}</title>
	{% block css %}
	<link rel="stylesheet" href="css/base.min.css">
	<link rel="stylesheet" href="css/mosaic.css">
	<link rel="stylesheet" href="css/examples.css">
	{% endblock %}
</head>

<body>
	{% block page %}
	<header>
		<h1>Mosaic <small>Grid System</small></h1>
	</header>
	{% block hero %}
	{% endblock %}
	<main>
		<section class="mosaic-row">
			<article class="cell cell-12">
				{% block content %}{% endblock %}
			</article>
		</section>
	</main>
	<footer>

	</footer>
	{% endblock %}
	{% block js %}
	 <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=html"></script>
	 <script src="js/documentation.min.js"></script>
	{% endblock %}
</body>
</html>