<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Mosaic | CSS Grid Framework with vertical centering and fixed columns{% endblock %}</title>
	{% block css %}
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/mosaic.css">
	<link rel="stylesheet" href="css/examples.css">
	{% endblock %}
</head>

<body>
	{% block page %}
	<header>
		<h1>Mosaic</h1>
	</header>
	<section class="mosaic-row reverse stack-767">
		<article class="cell cell-12 left-200">
			{% block content %}{% endblock %}
		</article>
		<nav class="cell fixed-200">
			Nav
		</nav>
	</section>
	<footer>
		
	</footer>
	{% endblock %}
</body>
</html>