$gray-dark: #454545;
$gray-light: #E4E3E6;
$gray-lightest: #EBEAED;

$orange1: #ED9547;
$orange2: #F2811D;

@import 'pretty_print';

.alignment-grid{
	min-height: 200px;
}

.column{
	background-color: #ccc;
}

.mosaic-row .cell{
	font-size: 1.5rem;
}

.grid-system{
	text-align: center;
}