$gray-dark: #343838;
$gray-light: lighten($gray-dark, 72%);
$gray-lightest: lighten($gray-dark, 75%);

$blue-dark: #005F6B;
$blue-med: #008C9E;
$blue-light: #00B4CC;
$blue-neon: #00DFFC;

@import 'pretty_print';

.alignment-grid{
	height: 200px;
}

.column{
	background-color: #ccc;
}

.mosaic-row .cell{
	font-size: 1.5rem;
}

.grid-system{
	text-align: center;
}

h1, h2, h3, h4, h5, h6{
  color: $blue-med;
}