$gray-dark: #343838;
$gray-light: lighten($gray-dark, 72%);
$gray-lightest: lighten($gray-dark, 75%);

$blue-dark: #005F6B;
$blue-med: #008C9E;
$blue-light: #00B4CC;
$blue-neon: #00DFFC;

@import 'pretty_print';

header{
  background-color: $blue-dark;
  padding: 8px;

  @media screen and (min-width: 768px){
    padding: 8px 13px;
  }

  h1{
    color: #fff;
    font-weight: normal;
    font-size: 3rem;
    padding-bottom: 0;

    small{
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

.hero{
  height: 300px;
  background: url('http://fillmurray.com/g/1100/300') no-repeat center center;
  background-size: cover;
  position: relative;

  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.9);
    content: '';
  }

  *{
    position: relative;
    z-index: 2;
    color: #fff;
  }

  p{
    font-size: 1.8rem;
  }
}

main{
  padding: 34px 13px;

  @media screen and (min-width: 768px){
    padding: 55px 34px;
  }
}

.alignment-grid{
	height: 100px;
}

.column{
	background-color: #ccc;
}

.mosaic-row .cell{
	font-size: 1.5rem;
}

.example-wrapper{
  margin-bottom: 34px;

  @media screen and (min-width: 768px){
    margin-bottom: 55px;
  }
  .cell{
    color: #fff;
    background-color: $blue-light;

    &:nth-child(even){
      background-color: $blue-med;
    }
  }
}

code{
  color: $blue-med;
}

.grid-system{
	text-align: center;

  .mosaic-row{
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6{
  color: $blue-med;
}