.re-grid-row{
  position: relative;
  overflow: hidden;
  clear: both;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*
    Setting the font-size to zero to remove the white-space from
    the inline-block elements. It's important that any content 
    inside a .re-grid-row be inside a .column element to reset
    the font-size. More info about inline-block white-space here:
    http://davidwalsh.name/remove-whitespace-inline-block
  */
  font-size: 0;

  /* 
    The ghost, nudged to maintain perfect centering
    This found in the article:
    http://css-tricks.com/centering-in-the-unknown/
  */
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  @media screen and (max-width: 767px){
    &.collapse-767{
      &:before {
        content: none !important;
      }
      
      .column{
        display: block;
        width: 100% !important;
      }
    }
  }

  @media screen and (max-width: 960px){
    &.collapse-960{
      &:before {
        content: none !important;
      }
      
      .column{
        display: block;
        width: 100% !important;
      }
    }
  }

  /* Left align column Content */
  &.left,
  .column.left{
    text-align: left;
  }

  /* Center align column Content */
  &.center,
  .column.center{
    text-align: center;
  }

  /* Right align section Content */
  &.right,
  .column.right{
    text-align: right;
  }

  .column{
    /*
      This is where we're resetting the font-size to compensate for the inline-block white-space. If initial doesn't work
      with whatever you're using, use a value that works with your css
    */
    font-size: initial;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    /* gutter width is 26px, 13px left and right of the column */
    padding: 13px;

    /* Vertical Top */
    &.middle {
      vertical-align: top;
    }

    /* Vertical Middle */
    &.middle {
      vertical-align: middle;
    }

    /* Vertical Bottom */
    &.bottom {
      vertical-align: bottom;
    }

    &.span-1{
      width: (1px / 12px * 100%);
    }

    &.span-2{
      width: (2px / 12px * 100%);
    }

    &.span-3{
      width: (3px / 12px * 100%);
    }

    &.span-4{
      width: (4px / 12px * 100%);
    }

    &.span-5{
      width: (5px / 12px * 100%);
    }

    &.span-6{
      width: (6px / 12px * 100%);
    }

    &.span-7{
      width: (7px / 12px * 100%);
    }

    &.span-8{
      width: (8px / 12px * 100%);
    }

    &.span-9{
      width: (9px / 12px * 100%);
    }

    &.span-10{
      width: (10px / 12px * 100%);
    }

    &.span-11{
      width: (11px / 12px * 100%);
    }

    &.span-12{
      width: (12px / 12px * 100%);
    }

    &.fixed-50{
      width: 50px;
    }

    &.fixed-100{
      width: 100px;
    }

    &.fixed-200{
      width: 200px;
    }

    &.fixed-300{
      width: 300px;
    }

    &.fixed-400{
      width: 400px;
    }

    &.left-50{
      padding-left: 50px;
      margin-left: -50px;
    }

    &.left-100{
      padding-left: 100px;
      margin-left: -100px;
    }

    &.left-200{
      padding-left: 200px;
      margin-left: -200px;
    }

    &.left-300{
      padding-left: 300px;
      margin-left: -300px;
    }

    &.left-400{
      padding-left: 400px;
      margin-left: -400px;
    }

    &.right-50{
      padding-right: 50px;
      margin-right: -50px;
    }

    &.right-100{
      padding-right: 100px;
      margin-right: -100px;
    }

    &.right-200{
      padding-right: 200px;
      margin-right: -200px;
    }

    &.right-300{
      padding-right: 300px;
      margin-right: -300px;
    }

    &.right-400{
      padding-right: 400px;
      margin-right: -400px;
    }
  }
}