$blue: #216a9e;
$blue-dark: darken($blue, 10%);
$blue-light: lighten($blue, 10%);

$red: red;
$green: green;
$yellow: yellow;

$purple: purple;

$white: #fff;

// dark shades
$gray1: #3c3c3d;
$gray2: #5a5a5b;
$gray3: #7d7d7e;


// light shades
$gray4: #cdcdce;
$gray5: #dededf;
$gray6: #efeff0;

$font-size: 15px;
$line-height: 21px;